h1 { text-align: center; 
		 }
h2 { text-align: center;
	color: #42ebf4; }
nav { background-color: #35e02c;
		height: 35px; }
nav ul { font-family: Verdana, sans-serif;
		text-align: center; 
		font-size: 17pt;
		font-weight: bold; }
nav li { display: inline; 
		list-style-type: none; 
		padding: 50px;
		color: #d2e527; }
nav a { text-decoration: none; }
nav a:link { color: #d2e527; }
nav a:visited { color: #d2e527; }
ul { text-align: center; }
li { list-style-type: none;
		display: inline; }
figure {
    display: inline-block; }
figcaption { text-align: center; }
form { text-align: center; 
		padding: 15px; }
button { background-color: white; 
		color: #d2e527;
		padding: 7px;
		margin-top: 10px; 
		border-radius: 10px;
		border-color: #35e02c; }
button:hover { background-color: #35e02c; }
#logo { padding-top: 30px;
		padding-left: 40px; }
#hours { background-color: #42ebf4;
		color: white; 
		text-align: center; 
		font-family: Verdana, sans-serif;
		font-weight: bold; 
		border-radius: 10px; 
		float: left;
		clear: float; 
		margin-top: 35px; 
		margin-left: 20px; 
		width: 258px; 
		height: 350px; } 
#smallC { margin-left: 350px;
			width: 60%;
			margin-top: 20px; }
#welcome { font-weight: bold; 
			font-family: Georgia, Times New Roman;
			font-size: 40pt; 
			margin-top: -60px; }
#about { margin: auto;
		margin-top: 20px;
		padding-right: 20px;
		padding-left: 20px;
		max-width: 100%;
		border-radius: 10px; 
		width: 50%;
		height: 600px; 
		background-color: #42ebf4;
		color: white; 
		font-family: Verdana, sans-serif;
		}
#contact { text-align: center; }
#infoPic { float: right; 
			clear: float; }